fastapi==0.100.0
pydantic==2.0.3
uvicorn[standard]==0.23.1
python-socketio==5.8.0
aioredis==2.0.1

# firebase-admin==6.1.0

SQLAlchemy==2.0.19
asyncpg==0.28.0
alembic==1.11.1

fastapi-another-jwt-auth==0.1.8
passlib==1.7.4

python-dotenv==1.0.0

dramatiq[redis, watch]==1.14.2
dramatiq-abort[redis]==1.1.0
psycopg2-binary==2.9.6

tailer==0.4.1